# =========================
# 🖥️ Sistema operativo
# =========================
.DS_Store        # MacOS
Thumbs.db        # Windows

# =========================
# ✏️ Editores
# =========================
*.swp
*.swo
.vscode/
.idea/

# =========================
# 🐍 Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# 📦 Entornos virtuales
# =========================
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# =========================
# 📦 Distribución y empaquetado
# =========================
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# =========================
# 📄 Logs y reportes
# =========================
*.log
pip-log.txt
pip-delete-this-directory.txt
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
htmlcov/

# =========================
# 🧪 Testing / QA
# =========================
.tox/
.nox/
.hypothesis/
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json

# =========================
# 📓 Jupyter
# =========================
.ipynb_checkpoints
outputs/

# =========================
# 🔬 MLflow
# =========================
/mlflow/quickstart/
mlruns/
mlflow/dev/*.db
mlflow/dev/*.db-shm
mlflow/dev/*.db-wal
mlflow/dev/mlruns/
mlflow/dev/artifacts/

# =========================
# 📊 DVC
# Ignorar datasets, pero mantener los .dvc
# =========================
Data/*.csv
!Data/*.dvc

# =========================
# 🛠️ Otros
# =========================
cython_debug/
.ruff_cache/
.pypirc
docs/*.html
docs/*.png
