black
flake8
isort
loguru
mkdocs
pip
pytest
python-dotenv
tqdm
typer

# Data analysis & ML
pandas
numpy
scikit-learn
matplotlib
seaborn
jupyter
notebook

# DVC con soporte para S3
dvc[s3]

# -e .   # desactivado porque requiere Python <=3.11
